version: "3.9"

services:
  backend:
    image: gehanfonseka/devops-task-backend:latest
    container_name: task-backend
    restart: unless-stopped
    ports:
      - "8080:8080"
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "bash -c 'exec 3<>/dev/tcp/127.0.0.1/8080' || exit 1'"]
      interval: 10s
      timeout: 3s
      retries: 5

  frontend:
    image: gehanfonseka/devops-task-frontend:latest
    container_name: task-frontend
    depends_on:
      - backend
    restart: unless-stopped
    ports:
      - "80:80"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
